* {
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.ti {
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

body {
    background-color: #1a1a1a;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 1.7%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* video player styles */
#video-player {
    position: relative;
    width: 700px;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.24);

    & video::cue {
        opacity: 0;
    }

    & .details-panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 15px 25px;
        background: linear-gradient(to bottom, #000000ef 35%, transparent);
        transform: translateY(-100%);
        transition: .3s;
        z-index: 2;

        & p {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 1px;
            color: white;
        }

        & span {
            font-size: 12px;
            font-weight: 200;
            color: #c7c7c7;
        }
    }

    & .details-panel.active {
        transform: translateY(0);
    }

    & .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        border: 4px solid #f3f3f3;
        border-bottom-color: transparent;
        border-radius: 50%;
        z-index: 1000;
        animation: spin-animate .6s linear infinite;
        display: none;
    }

    & #main-video {
        position: relative;
        width: 100%;
        height: 100%;
        outline: none;

    }

    & .caption-text {
        position: absolute;
        left: 50%;
        bottom: 14%;
        width: 90%;
        max-width: 90%;
        padding: 5px;
        transform: translate(-50%, -50%);
        text-align: center;
        user-select: none;
        transition: bottom .3s;
    }

    & .caption-text.active {
        bottom: 0%;
    }

    & .caption-text mark {
        background-color: #0000008f !important;
        color: white;
    }

    & .thumbnail {
        position: absolute;
        bottom: 80px;
        left: calc(var(--x) + 11px);
        transform: translateX(-50%);
        width: 165px;
        height: 90px;
        background: white;
        border: 2px solid #fff;
        border-radius: 3px;
        display: none;
    }

    & .progress-area-time {
        position: absolute;
        left: calc(var(--x) + 11px);
        transform: translateX(-50%);
        bottom: 50px;
        min-width: 60px;
        text-align: center;
        white-space: nowrap;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        font-weight: 400;
        z-index: 1;
        display: none;
    }

    & .controls {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background: rgba(0 0 0 / 71%);
        box-shadow: 0 0 40px 10px rgb(0 0 0 / 25%);
        z-index: 3;
        transform: translateY(180%);
        transition: .3s;

        & .progress-area {
            width: 100%;
            height: 5px;
            margin: auto;
            background: #f0f0f07c;
            cursor: pointer;
            position: relative;

            & .progress-bar {
                position: relative;
                width: 100px;
                height: inherit;
                background: #1CC0C0;
                border-radius: inherit;
                cursor: pointer;
            }

            & .progress-bar::before {
                content: '';
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                right: -5px;
                top: 50%;
                transform: translateY(-50%);
                background: #1CC0C0;
            }

            & .buffered-bar {
                position: absolute;
                top: 0%;
                right: 0%;
                width: 100%;
                height: inherit;
            }
        }

        & .controls-list {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width: 97%;
            height: 46px;
            margin: 0 auto;

            & .controls-left, .controls-right {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .controls-left {
                & .timer {
                    display: inline-block;
                    font-size: 14px;
                    white-space: nowrap;
                    color: white;
                    margin-left: 5px;
                    text-align: center;
                }
            }
        }

        & .icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            margin-left: 8px;
            margin-right: 5px;

            & .ti {
                font-size: 26px;
                color: white;
                cursor: pointer;
            }

            & .ti.fast-rewind:active {
                transition: .3s;
                transform: rotate(-45deg);
            }

            & .ti.fast-forward:active {
                transition: .3s;
                transform: rotate(45deg);
            }

            & .volume-range {
                -webkit-appearance: none;
                appearance: none;
                width: 0px;
                height: 3px;
                background: white;
                color: white;
                cursor: pointer;
                outline: none;
                border: none;
                transition: .4s;
            }

            & .volume-range::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: none;
                outline: none;
                background: white;
                color: white;
                opacity: 0;
                transition: .3s;
            }

            & .auto-play {
                width: 30px;
                height: 10px;
                border-radius: 20px;
                position: relative;
                margin-right: 8px !important;
                background: #b6b6b6;
            }

            & .auto-play::before {
                content: '\f690';
                position: absolute;
                left: -5px;
                top: 50%;
                transform: translateY(-50%);
                width: 17px;
                height: 17px;
                line-height: 17px;
                font-size: 14px;
                background: #727272;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border-radius: 50%;
            }

            & .auto-play.active::before {
                content: '\f691';
                left: 15px;
            }

            & .settings-btn, .captions-btn {
                font-size: 24px;
                transition: .3s;

            }

            & .settings-btn.active{
                transform: rotate(45deg);
            }
        }

        & .icon:hover .volume-range {
            display: inline-block;
            width: 60px;
        }

        & .icon:hover .volume-range::-webkit-slider-thumb {
            opacity: 1;
            pointer-events: auto;
        }
    }

    & .controls.active {
        transform: translateY(0);
    }

    & #settings, & #captions {
        position: absolute;
        right: 25px;
        bottom: 62px;
        background: rgb(28 28 28 / 90%);
        width: 200px;
        height: auto;
        max-height: 250px;
        color: white;
        overflow-y: auto;
        z-index: 20;
        display: none;
        border-radius: 5px;

        & >div, & .caption {
            & >span {
                font-size: 14px;
                font-weight: 300;
                padding: 15px 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgb(83, 83, 83);
                white-space: nowrap;
            }

            & .icon {
                font-size: 14px;
                margin: 0 5px;
                cursor: pointer;

            }

            & ul {
                position: relative;

                & li {
                    position: relative;
                    width: 100%;
                    cursor: pointer;
                    padding: 12px 33px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & span {
                        pointer-events: none;
                    }
                }

                & li:hover {
                    background: rgba(28, 28, 28, 0.9);
                }

                & li.active::before {
                    content: '\ea5e';
                    position: absolute;
                    left: 7px;
                    top: 50%;
                    transform: translateY(-50%);
                    padding-right: 10px;
                    font-size: 18px;
                }
            }
        }
    }

    & #settings.active, #captions.active {
        display: block;
    }

    & #settings::-webkit-scrollbar, #captions::-webkit-scrollbar {
        width: 8px;
        background: transparent;
    }

    & #settings::-webkit-scrollbar-thumb, #captions::-webkit-scrollbar-thumb {
        height: 20px;
        border: 2px solid transparent;
        background: rgba(83, 83, 83, 0.9);
    }
}

@media (max-width: 400px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .controls {
        & .icon {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 24px;
        }
    }

    .volume, .volume-range, .picture-in-picture {
        display: none;
    }
}

@keyframes spin-animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}